/* Custom styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #def0f0;
}

.navbar {
    margin-bottom: 2rem;
}

.hero-section {
    background-image: url('/static/images/hero.jpg');
    background-size: cover;
    background-position: center;
    color: aquamarine;
    padding: 5rem 1rem;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}

.services-section {
    padding: 3rem 1rem;
}

.service-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 1, 0, 0.5);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    background-color: aquamarine;
}

.service-icon {
    font-size: 3rem;
    color: #007bff;
}

.btn-entweni{
    background-color: aquamarine;
    color: black;
}

.btn-entweni:hover{
    background-color: aqua;
    color: black;
}

.logo {
    width: 240px;
    height: 240px;
}

.illustration{
    width: 360px;
    height: 360px;
}

.a-entweni {
    text-decoration: none;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 15px;
}

.list-group-item {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.list-group-item:not(:last-child) {
    margin-bottom: 10px;
    background-color: #e9ecef;
}

.footer {
    background-color: #343a40;
    color: aquamarine;
    padding: 0.5rem 1rem;
    text-align: center;
    vertical-align: middle;
    margin-top: 3rem;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
